.fullheight {
    min-height:         100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

body {
    padding: 10px;
    margin: 0px;
    display: grid;
    grid-template-areas:    "header header header"
                            "sidebar_left main sidebar_right"
                            "footer footer footer";
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 50px 
                        1fr
                        50px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.header {
    grid-area: header;
    background-color: grey;
    text-align: center;
}

.header a {
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar_left {
    grid-area: sidebar_left;
}

.sidebar_left ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar_left ul li {
    background-color: yellow;
    padding: 5px;
    border-style: outset;
    border-width: 2px;
}

.sidebar_right {
    grid-area: sidebar_right;
    background-color: yellow;
    height: 300px;
    padding: 20px;
}

.sidebar_right__search {
    margin: 0px;
}

.sidebar_right__search input {
    margin-bottom: 5px;
}

.sidebar_right ul {
    padding-top: 20px;
    margin: 0px;
    list-style: circle;
    background-color: yellow;
    height: 300px
}

.main {
    padding: 10px;
    grid-area: main;
    background-color: yellow;
}

.main__form {
    width: 400px;
    padding: 20px;
    padding-left: 30px;
    display: grid;
    grid-template-columns:  200px 1fr;
    grid-gap: 10px;
}

.main__form label {
    grid-column: 1 / 2;
}

.main__form input, .main__form button, .main__form__plec__radio {
    grid-column: 2 / 3;
}

.main__form .error {
    grid-column: 3/4;
    color: red;
}

.main__form__plec__label {
    margin-top: auto;
    margin-bottom: auto;
}

.main__form__submit {
    width: 60px;
    margin: auto;
}

.main__register_form__submit {
    margin: auto;
}

.main__edit_account_form__submit {
    grid-column: 1 / 2 !important;
}

.main__edit_account_form__cancel {
    grid-column: 2 / 3;
}

.main__form--edit__submit {
    grid-column: 1 / 2 !important;
}

.main__form__errors {

}

.main__login_form__submit {
    margin:auto;
    display:block;
}

.main__paginator {
    text-align: center;
}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: grey;
}

.user_list, .user_list td, .user_list th {
    border: 1px solid black;
}

.users_table, .users_table td, .users_table th {
    border: 1px solid black;
}

.users_table form {
    margin-bottom: 0;
}